################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bin
*.db
*.db-shm
*.db-wal
*.v2
*.vsidx
*.dll
*.suo
/.vs/vwr/v17
*.pdb
/bin/*
/obj/*
*.user
*.userosscache
*/bin
*/obj
/backend/Vwr.Api/bin/Debug
/backend/Vwr.Api/obj
/backend/Vwr.Domain/bin/Debug
/backend/Vwr.Infrastructure/obj
/backend/Vwr.Domain/obj
/backend/Vwr.Workers/bin/Debug
/backend/Vwr.Workers/obj
/backend/Vwr.Infrastructure/bin/Debug
